* {
    margin: 0;
    padding: 0;
}

body {
    min-width: 500px; /* your desired width */
    max-width: 100%;
    position: relative;
    vertical-align:middle;
    border: 1px solid black;
}

h1 {
    font-size: 36px;
    text-align: center;
    background-color: lightblue;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

h2 {
    font-size: 26px;
    width: 75%;
    margin-left: 50px;
    border-right: 1px solid black;

}

.checkBoxBox input {
    width: 25%;
}

.container {
    background-color: whitesmoke;
}

.checkBoxBox {
    display: flex;
    justify-content: space-around;
    height: 40px;
}

.checkBox {
    width: 30px;
    height: 30px;
    margin-top: 5px;
}

.btnBox {
    display: flex;
    justify-content: center;
    border-top: 1px solid black;
}

#aktiver {
    height: 40px;
    width: 150px;
    justify-content: space-around;
    margin: 8px 0; 
    font-size: 26px;
    text-transform: uppercase;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    line-height: 40px; 
}

#aktiver:hover {
    background-color: lightskyblue;
    color: white;
    cursor: pointer;
}

.checkBoxBox:nth-of-type(odd) {
    background-color: lightgray
}

